
%hr.spacer

%p{style: 'color: gray'}
  The Student Bazaar is a free website offering students a platform to buy and sell school-life items.
  Any illegal, inappropriate, or non-student oriented items may be blocked or deleted.
  Thank you for your cooperation.
