%p
  =raw I18n.t(:welcome, scope: 'devise.mailer.reset_password_instructions', user: @resource.email)
%p=raw I18n.t(:reset_password_info, scope: 'devise.mailer.reset_password_instructions')
%p= link_to I18n.t(:change_my_password, scope: 'devise.mailer.reset_password_instructions'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
= I18n.t(:reset_password_info_bottom, scope: 'devise.mailer.reset_password_instructions').html_safe
